# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# Environment variables
.env